<template>
  <PokemonForm :defaultValue="initialPokemon" @pokemon-change="handlePokemonChange"/>
  <PokemonDataView v-if="pokemon" :pokemon="pokemon"></PokemonDataView>
  <p v-else-if="error">{{ error }}</p>
  <PokemonDataView v-else-if="pokemonName && !pokemon" :pokemon="fallbackPokemonData"></PokemonDataView>
</template>

<script>
import PokemonDataView from "@/components/PokemonDataView";
import PokemonForm from "@/components/PokemonForm";

export default {
  // There is a bug in this component 😱
  name: 'PokemonSearch',
  components: {
    PokemonDataView,
    PokemonForm
  },
  methods: {
    handlePokemonChange(name) {
      this.pokemonNameState = name;
      this.pokemon = null;
      this.error = null;
    }
  },
  watch: {
    pokemonName: {
      immediate: true,
      handler: function (newValue) {
        console.debug("name is " + newValue)
        const graphql = String.raw
        const pokemonQuery = graphql`
        query PokemonInfo($name: String) {
          pokemon(name: $name) {
            id
            number
            name
            image
            attacks {
              special {
                name
                type
                damage
              }
            }
          }
        }
      `

        fetch('https://graphql-pokemon2.vercel.app', {
          // learn more about this API here: https://graphql-pokemon2.vercel.app
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            query: pokemonQuery,
            variables: {name: newValue.toLowerCase()},
          }),
        })
            .then(response => response.json())
            .then(response => {
              if (response.errors) {
                return Promise.reject(
                    new Error(response.errors.map(e => e.message).join('\n')),
                )
              }
              const pokemon = response.data.pokemon
              if (pokemon) {
                pokemon.fetchTimestamp = Date.now()
                return pokemon
              } else {
                return Promise.reject(new Error(`No pokemon with the name "${name}"`))
              }
            })
            .then(p => this.pokemon = p, e => this.error = e)
      }
    }
  },
  data() {
    return {
      pokemonNameState: null,
      pokemon: null,
      error: null,
    }
  },
  computed: {
    pokemonName() {
      return this.pokemonNameState || this.initialPokemon;
    },
    fallbackPokemonData() {
      return {
        name: this.pokemonName,
        number: 'XXX',
        attacks: {
          special: [
            {name: 'Loading Attack 1', type: 'Type', damage: 'XX'},
            {name: 'Loading Attack 2', type: 'Type', damage: 'XX'},
          ],
        },
        fetchedAt: 'loading...',
      }
    }
  },
  props: {
    initialPokemon: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
