<template>
  <div class="pokemon-info">
    <div v-if="pokemon.image" class="pokemon-info__img-wrapper">
      <img :src="pokemon.image" :alt="pokemon.name"/>
    </div>
    <section>
      <h2>
        {{ pokemon.name }}
        <sup>{{ pokemon.number }}</sup>
      </h2>
    </section>
    <section>
      <ul>
        <li :key="attack.name" v-for="attack in pokemon.attacks.special">
          <label>{{ attack.name }}</label>:
          <span>{{ attack.damage }} <small>({{ attack.type }})</small></span>
        </li>
      </ul>
    </section>
    <small class="pokemon-info__fetch-time">{{ fetchDate }}</small>
  </div>
</template>

<script>

export default {
  props: {
    pokemon: Object
  },
  computed: {
    fetchDate() {
      const date = new Date(this.pokemon.fetchTimestamp);
      return `${date.getHours()}:${String(date.getMinutes()).padStart(2, '0')} ${String(
          date.getSeconds(),
      ).padStart(2, '0')}.${String(date.getMilliseconds()).padStart(3, '0')}`
    }
  }
}
</script>