<template>
  <form @submit="submitPokemon" class="pokemon-form">
    <label for="pokemonName-input">Pokemon Name</label>
    <small>
      Try
      <button
          class="invisible-button"
          type="button"
          @click="$emit('pokemon-change', 'pikachu')"
      >
      "pikachu"
      </button> or
      <button
          class="invisible-button"
          type="button"
          @click="$emit('pokemon-change', 'charizard')"
      >
      "charizard"
      </button>
    </small>
    <div>
      <input
          class="pokemonName-input"
          id="pokemonName-input"
          name="pokemonName"
          placeholder="Pokemon Name..."
          :value="defaultValue"
          @change="this.pokemonName = $event.target.value"
      />
      <button type="submit" :disabled="!pokemonName.length">
        Submit
      </button>
    </div>
  </form>
</template>

<script>
 export default {
   name: "PokemonForm",
   props: {
     defaultValue: String
   },
   data() {
     return {
       pokemonName: ""
     }
   },
   methods: {
     submitPokemon(e) {
       e.preventDefault();
       this.$emit('pokemon-change', this.pokemonName)
     }
   }
 }
</script>