<template>
  <div class="pokemon-info-app">

    <PokemonSearch :initialPokemon="$options.initialName" />
  </div>
</template>

<script>
import PokemonSearch from './components/PokemonSearch.vue'

export default {
  name: 'App',
  components: {
    PokemonSearch
  },
  initialName: window.location.pathname.substring(1)
}
</script>

<style>

.pokemon-info-app a {
  color: #cc0000;
}

.pokemon-info-app a:focus,
.pokemon-info-app a:hover,
.pokemon-info-app a:active {
  color: #8a0000;
}

.pokemon-info-app input {
  line-height: 2;
  font-size: 16px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: none;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #eee;
}

.pokemon-info-app button {
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid #ff0000;
  background-color: #cc0000;
  cursor: pointer;
  padding: 8px 10px;
  color: #eee;
  border-radius: 3px;
}

.pokemon-info-app button:disabled {
  border-color: #dc9494;
  background-color: #f16161;
  cursor: unset;
}

.pokemon-info-app button:hover:not(:disabled),
.pokemon-info-app button:active:not(:disabled),
.pokemon-info-app button:focus:not(:disabled) {
  border-color: #cc0000;
  background-color: #8a0000;
}

.pokemon-info-app .totally-centered {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-info-app {
  max-width: 500px;
  margin: auto;
}

[class*='_isolated'] .pokemon-info-app {
  margin-top: 50px;
}

.pokemon-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-form input {
  margin-top: 10px;
  margin-right: 10px;
}

.pokemon-info {
  height: 400px;
  width: 300px;
  margin: auto;
  overflow: auto;
  background-color: #eee;
  border-radius: 4px;
  padding: 10px;
  position: relative;
}

.pokemon-info.pokemon-loading {
  opacity: 0.6;
  transition: opacity 0s;
  /* note: the transition delay is the same as the busyDelayMs config */
  transition-delay: 0.4s;
}

.pokemon-info h2 {
  font-weight: bold;
  text-align: center;
  margin-top: 0.3em;
}

.pokemon-info img {
  max-width: 100%;
  max-height: 200px;
}

.pokemon-info .pokemon-info__img-wrapper {
  text-align: center;
  margin-top: 20px;
}

.pokemon-info .pokemon-info__fetch-time {
  position: absolute;
  top: 6px;
  right: 10px;
}

.pokemon-info-app button.invisible-button {
  border: none;
  padding: inherit;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  font-weight: inherit;
  background-color: transparent;
  color: #000;
}
.pokemon-info-app button.invisible-button:hover,
.pokemon-info-app button.invisible-button:active,
.pokemon-info-app button.invisible-button:focus {
  border: none;
  background-color: transparent;
}

.friends .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.friends .header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.friends .header > nav {
  flex: 1;
}

.friends .header > nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}

</style>
